<!DOCTYPE html>
<html>
<head>
  <title>Textmate</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<<<<<<< HEAD

<%= yield %>

=======
<%= flash[:notice] %>
<%= flash[:alert] %>

<%= yield %>



>>>>>>> 0aa94613a4a24c351f4e40c4e2fd9aed37dc8bcf
</body>
</html>
